$white: #ffffff;
$whitesmoke: rgb(236, 235, 235);

$black: #000000;
$lightblack: rgb(34, 34, 34);

$darkblue: #051120;
$lightblue: #478fdc;
$superlightblue:#9aafc9;

$lightgray: #cfd4e4;
$gray: #414952;

