@import "variables";
@import "common";
 
 /* regole generali */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: lato;
} 

//HEADER
header{
    height: 17.5vh;
    background-color: $white;
    display: flex;
    justify-content: space-around;

    h1{
        color: $lightblack;
        align-self: center;
        
    }

    ul{
        height: 70%;
        align-self: center; 
        display: flex;  
        li{
            align-self: center; 
            margin: 0 20px;
            color: $lightblack;
            cursor: pointer;
            transition: all 0.25s;
            &:hover{
                color: black;
                background-color: lightblue;
                padding: 15px;
                border-radius: 10px;
                font-weight: bold;
            }      
        } 
    }
}


main{
    height: 60vh;
    background-color: #2a2a72;
    background-image: linear-gradient(315deg, #2a2a72 0%, #009ffd 74%);
}

footer{
    height: 22.5vh;
    background-color: $darkblue;
}